%h2 Admin Dashboard
%hr
%section.admin-dashboard
  %section.admin-welcome
    %article.user-name
      %strong= "Name: #{current_user.name}"
    %article.user-email
      %strong= "Email: #{current_user.email}"

%hr