.order-container
  %h3 Welcome to Your Past Orders:
    %ul.order-list
    - @orders.each do |order|
      %li.order-item
        %section.info
          - order.items.each do |item| 
            %h3= item.name
            %h3= #{number_to_currency(item.price_per_unit)} / lb
        %order.total_cost
  %hr
