.order-container
  %h3 'Welcome to Your Orders:'
  %ul.order-list
    - @orders.each do |order|
      %li.order-info
        %h4= link_to "Order # #{order.id}, ordered at #{order.created_at}.", order_path(order)
