-if current_user
  .order-container
    %h3 'Welcome to Your Past Orders:'
    %ul.order-list
      - @orders.each do |order|
        %li.order-info
          %h4 "Order # #{order.id}, ordered at #{order.created_at}. Total cost: #{order.total_cost}"
-else
  %h3 'You must be logged in to view your orders.'