%section.items-index-container
  %article.category-header
    %h1 Fruit
  %article.items-container
    - 8.times do
      %section.item-card
        %article.item-card-image
          = image_tag 'https://images.unsplash.com/photo-1474193557037-f19b7f547a44'
        %article.item-info
          %aside.item-title 
            %h3 Orange
          %aside.item-price 9.99
          %aside.item-quantity 2
        %article.item-description
          Succulents hoodie pour-over, hella seitan before they sold out cold-pressed. Air plant succulents everyday carry brunch. Food truck selvage vinyl, blog ethical locavore echo park. Mumblecore four loko poke, actually pinterest before they sold out pok pok austin kombucha coloring book iceland blog cardigan. Copper mug fixie jean shorts activated charcoal humblebrag, actually schlitz. Yr fashion axe synth literally, ugh iPhone fixie. Waistcoat fashion axe ethical, church-key normcore irony roof party echo park woke keytar occupy franzen bicycle rights.
        %article.item-card-button
          %button "Add to Cart"