.items-index-container,
.categories-show-container {
  width: 100%;
  h1 {
    font-size: 36px;
    padding: 20px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 20px;
  }
  .category-header {
    background: $gray;
    width: 100%;
  }
  .item-card {
    border-radius: 5px;
    margin: 10px auto;
    padding: 10px;
    .item-card-image {
      text-align: center;
      img {
        width: 98%;
      }
    }
    .item-info {
      display: inline-flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      margin: 10px;
      .item-title {
        order: 1;
        width: 33%;
      }
      .item-quantity {
        order: 3;
        width: 10%;
        input {
          width: 100%;
          border: 1px solid $black;
        }
      }
      .item-price {
        font-size: 90%;
        order: 2;
        width: 30%;
      }
    }
    .item-description {
      margin: 10px;
    }
    .item-card-button {
      text-align: center;
      margin: 0 auto;
      form input[type=submit] {
        padding: 10px 0;
        margin-bottom: 10px;
        width: 95%;
        border: 1px transparent;
        border-radius: 5px;
        background: $lightbrown;
        color: $black;
      }
      form input[type=submit]:hover {
        background: $gray;
      }
    }
  }
  @media (min-width: 768px) {
    h1 {
      font-size: 50px;
    }
    .items-container {
      margin: 20px auto;
      display: flex;
      justify-content: space-around;
      flex-flow: row wrap;
      .item-card-button {
        width: 33%;
      }
      .item-card {
        border: 1px dotted $black;
        width: 30%;
        img {
          max-height: 500px;
        }
      }
    }
  }
}