@import url('https://fonts.googleapis.com/css?family=Cabin%7CDroid+Sans');
$heading: "Droid Sans",
Helvetica,
sans-serif;
$body: "Cabin",
Arial,
sans-serif;

body {
  font-family: $body;
  color: $black;
}

h1,
h2,
h3,
h4 {
  font-family: $heading;
  color: $black;
}