.form-link {
  padding: 6px;
  font-size: 14px;
  float: right;
}

.form-container {
  margin: 20px;

  .form-header {
    h3 {
      font-size: 20px;
      padding-bottom: 10px;
    }
  }

  .btn-default {
    width: 100%;
    // background-color: rgba(167, 56, 36, .8);
    color: whitesmoke;
    color: whitesmoke;
    background-color: rgba(71, 132, 114, 0.7);
    }
    input[type=submit]:hover {
      background-color: rgba(71, 132, 114, 1);
    }
  

 @media (min-width: 768px) {
      width: 30%;
      float: center;
    .form-header {
      h3 {
        font-size: 25px;
        padding-bottom: 5px;
        text-align: center;
      }
    }
    .form-field {
      padding: 5px;
    }
  }
}