.item-container {
    margin: 20px 40px;
  .item-info {
      text-align: center;
    h1 {
      font-size: 36px;
      padding: 20px;
    }
    h2 {
      font-size: 24px;
    }
    h3 {
      font-size: 20px;
    }
    .item-button {
      margin: 10px auto;
      text-align: center;
      .retired-item{
        background: $lightbrown;
        border: 1px transparent;
        border-radius: 5px;
        color: $black;
        margin-bottom: 10px;
        padding: 10px 0;
        width: 95%;
      }
      .retired-item:hover {
        background: $gray;
      }
      form input[type=submit] {
        background: $lightbrown;
        border: 1px transparent;
        border-radius: 5px;
        color: $black;
        margin-bottom: 10px;
        padding: 10px 0;
        width: 95%;
      }
      form input[type=submit]:hover {
        background: $gray;
      } 
    }
  }
  @media (min-width: 768px) {
      display: inline-flex;
      justify-content: space-around;
      align-items: center;
      margin: 20px auto;
      width: 100%;
    h1 {
      font-size: 50px;
    }
    .item-image {
      width: 33%;
      height: auto;
    } 
  }
}