.splash-container {
    background: url("/splash_image.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: $brown;
    width: 95%;
    min-height: 600px;
    margin: 10px auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    text-align: center;
  .message-card {
      margin: 20px;
    h1 {
    color: white;
    font-size: 40px;
    padding: 5px;
    border-radius: 5px;
    background: rgba(0, 0, 0, .5)
    }
  }
  .button-card {
      margin: 20px;
    a {
      font-size: 20px;
      background: $lightbrown;
      border: 1px transparent;
      border-radius: 5px;
      color: white;
      margin-bottom: 10px;
      padding: 10px;
      width: 95%;
    }
    a:hover {
      background: $gray;
      text-decoration: none;
    }
  }
  @media (min-width: 768px) {
    .button-card {
      a {
        background: $gray;
      }
      a:hover {
        background: $lightbrown;
      }
    }
  }
}