.users-dashboard {
  background: $gray;
  margin: 15px;
  padding: 20px;
  border-radius: 3px;
  .users-welcome {
    display: inline;
    padding: 20px;
    .user-name {
      background: $gray;
      float: left;
    }
    .user-email {
      background: $gray;
      float: right;
    }
  }
}
@media (min-width: 768px) {
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px auto;
  width: 100%;
  h1 {
    font-size: 50px;
  }
  .item-image {
    width: 33%;
    height: auto;
  } 
}

.orders-button {
  margin: 10px;
  padding: 5px;
  border: none;
  font-size: 16px;
  border-radius: 5px;
  color: whitesmoke;
  background-color: rgba(71, 132, 114, 0.7);
}
.orders-button:hover {
  color: whitesmoke;
  background-color: rgba(71, 132, 114, 1);
  text-decoration: none;
}